<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hey, Sandeep is here</title>
  </head>
  <body>
<!--  navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Hey, Sandeep is here</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">y2s--downloader</a>
          <a class="dropdown-item" href="#">love-calculater</a>
          <a class="dropdown-item" href="random_picker">random-picker</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">calculator</a>
            <a class="dropdown-item" href="#">clock</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Feedback</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--navbar-->
<!--main-->
<div style=" background-image: url('../static/hand.jpg'); width:100% ; height:100%">
  <div>
  <center>
    <h1>!!! Welcome !!!</h1>
    <h2>Stone-Paper   Game</h2>
    <br>
    <p>chose your choice :</p>

  </center>
</div >
  <center>
    <div>
    <h3> 1 for Stone 🗿  </h3>
     <h3> 2 for  Paper 📄  </h3>
     <h3> 3 for  Sccissor ✂️</h3>
     <h3> 4 for  Thread 🧵 </h3>

  </div>
<!---->
   <form action="gamer-choice/" , method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter options here</label>
      <br>
    <input name = "choice" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg  : a,b,c,d,e,.......">
    <small id="emailHelp" class="form-text text-muted">As this website is ad free . so please share it with your friend</small>
  </div>

<br>
        <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--  -->
<!--main-->

  </center>
  <div>
    <center><h1>{{result}}</h1></center>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>